<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haige.mtest">

    <!-- 悬浮框权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".path.PathActivity" />
        <activity android:name=".Toasty.ToastyActivity" />
        <activity android:name=".view.ViewActivity" />
        <activity android:name=".time.TimePickActivity" />
        <activity android:name=".textview.OwnTextViewActivity" />
        <activity android:name=".view.StatusBarActivity" />
        <activity android:name=".MaterialDesign.CoordinatorLayoutActivity"></activity>
        <activity android:name=".MaterialDesign.MetrialThemeActivity"></activity>
    </application>

</manifest>